[phases.install]
cmds = ["corepack enable", "corepack prepare pnpm@10.4.1 --activate", "pnpm install"]

[phases.build]
cmds = ["pnpm run build"]

[start]
cmd = "pnpm start"

[variables]
NODE_VERSION = "20"

