name: Update Lockfile

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'package.json'

jobs:
  update-lockfile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10.4.1
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'pnpm'
      - run: pnpm install
      - run: git config --local user.email "action@github.com"
      - run: git config --local user.name "GitHub Action"
      - run: git add pnpm-lock.yaml
      - run: git diff --staged --quiet || git commit -m "chore: update pnpm-lock.yaml"
      - run: git push
